<!-- Header -->
<nav class="navbar navbar-default">
    <div class="row">
        <div class="col">
            <img class="arrow" src="assets/imgs/ic_webBack@2x.png"/>
        </div>
        <div class="col">
        <img class="refresh" src="assets/imgs/ic_webRefresh@2x.png"/>
        </div>
        <div class="col">
        <img class="arrow" src="assets/imgs/ic_webForward@2x.png"/>
        </div>
    </div>
</nav>
<div>
        <img src="assets/imgs/bg1.png"/>
</div>
<div class="container">
    <div class="row justify-content-center">
    <h2> Let us know how we can help!</h2>
    </div>
</div>
<div class="container">
    <p class="text text-center"> If you are interested in hiring Bottle rocket for your mobile project, please visit our hire us page.</p>
<hr class="new1">
<hr class="new2">
</div>
<form class="container">
    <h6>About You</h6>
        <p> *Indicates a required field </p><br>
        <input type="text" name="First Name" value="First Name*" class="first-name">
</form>
