/* Footer styles */
.outer-wrapper{
    height: 100vh;
    overflow-y: auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: gray;
    color: white;
    text-align: center;
 }
 .lunch{
    font-size: 17px;
    font-family: Avenir Next Regular;
    width: 100%;
}
/* ipadview */
@media only screen and (min-width: 768px) {
    .lunch {
      font-size: 30px;
    }
  }

.lunch-img {
    width: 10%;
    margin: 14px;
}
@media only screen and (min-width: 768px) {
    .lunch-img {
        width: 10%;
        margin:10px;
    }
  }