<div class="outer-wrapper">
    <router-outlet></router-outlet>
    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col" routerLink="/lunch">
                    <img class="lunch-img" src="assets/imgs/tab_lunch@2x.png"/> 
                    <p class="lunch">lunch</p>
                </div>
                <div class="col" routerLink="/internet">
                    <img class="lunch-img" src="assets/imgs/tab_internets@2x.png"/>
                    <p class="lunch">internets</p>
                </div>
            </div>       
        </div>       
    </div>
</div>